{% extends "./index.html" %}
{% load custom_filters %}
{% load static_assets %}
{% block content %}
    <!-- Add Product Section -->
    <div class="mb-5">
        <h2 class="mb-3">Add New Product</h2>
        <form id="addProductForm" class="border p-4 shadow-sm bg-light">
            {% csrf_token %}
            <div class="form-group">
                <label for="product_ean">EAN (Article Number)</label>
                <input type="text" class="form-control" id="ean" name="product_ean" required>
            </div>
            <div class="form-group">
                <label for="product_name">Product Name</label>
                <input type="text" class="form-control" id="name" name="product_name" required>
            </div>
            <div class="form-group">
                <label for="resell_price">Resell Price</label>
                <!-- Small and grey text for info -->
                <small id="resell_price_help" class="form-text text-muted">Price at which you will sell the product.</small>
                <input type="number" class="form-control" id="resell_price" name="resell_price" step="0.01" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="manageProducts.submitProductForm()">Add Product</button>
        </form>
    </div>

    <!-- Product List Section -->
    <div>
        <h2 class="mb-3">Product List</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>EAN</th>
                        <th>Name</th>
                        <th>Price (€)</th>
                        <th>Stock Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="productTableBody">
                    {% for product in products %}
                    <tr>
                        <td>{{ product.ean }}</td>
                        <td>{{ product.name }}</td>
                        {% if product.discount == 0 %}
                            <td>{{ product.resell_price }}</td>
                        {% else %}
                            <td>
                                <del>{{ product.resell_price }}</del> 
                                <b>
                                    <span style="color: red;">{{ product.final_price }}</span> (-{{ product.discount|multiply:100 }}%)
                                </b>
                            </td>
                            </td>
                            </td>
                        {% endif %}
                        <td>{{ product.stock_quantity }}</td> 
                        <td>
                            <!-- Edit Button -->
                             <button type="button" class="btn btn-warning btn-sm"
                            onclick="manageProducts.openEditModal(
                                '{{ product.ean }}', '{{ product.name }}', '{{ product.resell_price }}', '{{ product.discount}}'
                                )">
                            Edit
                            </button>
                            <!-- Delete Button -->
                            <button type="button" class="btn btn-danger btn-sm" onclick="manageProducts.deleteProduct('{{product.ean}}')">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No products available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Edit Product Modal -->
<div id="editProductModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editProductForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="manageProducts.closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="modal_ean" name="product_ean">
                    <div class="form-group">
                        <label for="modal_name">Name</label>
                        <input type="text" class="form-control" id="modal_name" name="product_name" required>
                    </div>
                    <div class="form-group">
                        <label for="modal_resellprice">Price (€)</label>
                        <input type="number" class="form-control" id="modal_resellprice" name="resell_price" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="modal_discount">Discount (%)</label>
                        <input type="number" class="form-control" id="modal_discount" name="discount" min="0" max="100" step="0.1" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="manageProducts.closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="manageProducts.submitEditForm()">Save Changes</button>
                </div>
            </form>
        </div>

{% endblock %}

{% block scripts %}
    {{ block.super }} 
    <script src="{% static_assets 'js/pages/store.products.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            window.manageProducts = new ManageProducts("{% url 'products' %}");
        });
    </script> 
{% endblock %}