{% extends "./index.html" %}
{% load custom_filters %}
{% load static_assets %}
{% load static_icons %}
{% block content %}
<div class="container mt-5">
    <form id="addStockForm" class="border p-4 shadow-sm bg-light">
        {% csrf_token %}
        <div class="form-group">
            <label for="ean">EAN (Article Number)</label>
            <!-- Create a dropdown menu for the product -->
            <select class="form-control" id="ean" name="ean" onchange="manage_stock.updateResellPrice()" required>
                {% for product in products %}
                <option value="{{ product.ean }}" data_price="{{ product.final_price }}">
                    {{ product.name }} (EAN: {{ product.ean }})
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="resell_price">Resell Price (€)</label>
            <label class="form-control" id="resell_price" name="resell_price"></label>
        </div>
        <div class="form-group">
            <label for="quantity">Stock Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required>
        </div>
        <!-- Add a new input field for the unit price -->
        <div class="form-group">
            <label for="purchase_price">Unit (paid) Price</label>
            <small id="purchase_price_help" class="form-text text-muted">Price paid for the product.</small>
            <input type="number" class="form-control" id="purchase_price" name="purchase_price" step="0.01" required>
        </div>
        <button type="button" class="btn btn-secondary" onclick="manage_stock.submitStockForm()">Add Stock</button>
    </form>
</div>
<!-- Product List Section -->
<div class="container mt-5">
    <h2 class="mb-4">Product List</h2>
    <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>EAN</th>
                    <th>Name</th>
                    <th>Resell Price (€)</th>
                    <th>Stock Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.ean }}</td>
                    <td>{{ product.name }}</td>
                    {% if product.discount == 0 %}
                        <td>{{ product.final_price }}</td>
                    {% else %}
                        <td>
                            <del>{{ product.resell_price }}</del> 
                            <b>
                                <span style="color: red;">{{ product.final_price }}</span> (-{{ product.discount|multiply:100 }}%)
                            </b>
                        </td>
                    {% endif %}
                    {% if product.stock_quantity > 0 %}
                        <td>{{ product.stock_quantity }}</td>
                    {% else %}
                        <td>
                            <b>
                                <span style="color: red;">{{ product.stock_quantity }}</span>
                            </b>
                        </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No products available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Stock Purchases and Sales Section -->
<div class="container mt-5">
    <h2 class="mb-4">Restocks and Sales</h2>
    <div class="row">
        <!-- Stock Purchases Table -->
        <div class="col-md-6">
            <h5>Restocks</h5>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit Price (€)</th>
                            <th>Total Cost (€)</th>
                            <th>Purchase Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restock in restocks %}
                        <tr>
                            <td>{{ restock.product.name }}</td>
                            <td>{{ restock.quantity }}</td>
                            <td>{{ restock.purchase_price }}</td>
                            <td>{{ restock.total_cost }}</td>
                            <td>{{ restock.restock_date|date:"Y-m-d H:i" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No purchases available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Stock Sales Table -->
        <div class="col-md-6">
            <h5>Customers's Stock Purchases</h5>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Sale Price (€)</th>
                            <th>Sold To</th>
                            <th>Sale Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                        <tr>
                            <td>{{ purchase.product.name }}</td>
                            <td>{{ purchase.quantity }}</td>
                            <td>{{ purchase.purchase_price }}</td>
                            <td>{{ purchase.customer.user.first_name }} {{ purchase.customer.user.last_name }}</td>
                            <td>{{ purchase.purchase_date|date:"Y-m-d H:i" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No sales available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ block.super }} 
    <script src="{% static_assets 'js/pages/store.stocks.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            window.manage_stock = new ManageStock("{% url 'stocks' %}");
            manage_stock.updateResellPrice();
        });
    </script> 
{% endblock %}
