{% extends "./index.html" %}
{% load custom_filters %}
{% load static_assets %}
{% load static_icons %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-light" id="dash-daterange">
                            <span class="input-group-text bg-primary border-primary text-white">
                                <i class="mdi mdi-calendar-range font-13"></i>
                            </span>
                        </div>
                        <a href="javascript: void(0);" class="btn btn-primary ms-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-primary ms-1">
                            <i class="mdi mdi-filter-variant"></i>
                        </a>
                    </form>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-sm-3">
                    <a href="{% url 'customers' %}" class="card-link">
                        <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-account-multiple widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Customers</h5>
                            <h3 class="mt-3 mb-3">{{customer.total}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 0%</span>
                                <span class="text-nowrap">Total</span>
                            </p>
                        </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </a>
                </div> <!-- end col-->
                <div class="col-sm-3">
                    <a href="{% url 'products' %}" class="card-link">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-cart-plus widget-icon"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Products</h5>
                                <h3 class="mt-3 mb-3">{{products.total}}</h3>
                                <p class="mb-0 text-muted">
                                    <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>
                                    <span class="text-nowrap">Total</span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </a>
                </div> <!-- end col-->
                <div class="col-sm-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-shopping widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Purchases</h5>
                            <h3 class="mt-3 mb-3">{{purchases.total}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>
                                <span class="text-nowrap">Total</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
                <div class="col-sm-3">
                    <a href="{% url 'stocks' %}" class="card-link">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <div class="float-end">
                                        <i class="mdi mdi-sync widget-icon"></i>
                                    </div>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Restocks</h5>
                                <h3 class="mt-3 mb-3">{{restocks.total}}</h3>
                                <p class="mb-0 text-muted">
                                    <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>
                                    <span class="text-nowrap">Total</span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </a>
                </div> <!-- end col-->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-sm-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-cash-fast widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Revenue</h5>
                            <h3 class="mt-3 mb-3">{{financial_metrics.revenue}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
                <div class="col-sm-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-cash-minus widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Expenses</h5>
                            <h3 class="mt-3 mb-3">{{financial_metrics.expenses}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
                <div class="col-sm-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-cash-multiple widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Earnings</h5>
                            <h3 class="mt-3 mb-3">{{financial_metrics.earnings}}</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
                <div class="col-sm-3">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-pulse widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Growth">Growth</h5>
                            <h3 class="mt-3 mb-3">+ 30.56%</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->            
            </div> <!-- end row -->
        </div> <!-- end col -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-h-100">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">Projections Vs Actuals</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                </div>
                <div dir="ltr">
                    <div dir="ltr">
                        <div id="financial-chart" class="apex-charts" style="min-height: 256px;"></div>
                    </div>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

    

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">Revenue</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="chart-content-bg">
                        <div class="row text-center">
                            <div class="col-sm-6">
                                <p class="text-muted mb-0 mt-3">Current Week</p>
                                <h2 class="fw-normal mb-3">
                                    <small class="mdi mdi-checkbox-blank-circle text-primary align-middle me-1"></small>
                                    <span>$58,254</span>
                                </h2>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0 mt-3">Previous Week</p>
                                <h2 class="fw-normal mb-3">
                                    <small class="mdi mdi-checkbox-blank-circle text-success align-middle me-1"></small>
                                    <span>$69,524</span>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="dash-item-overlay d-none d-md-block" dir="ltr">
                        <h5>Today's Earning: $2,562.30</h5>
                        <p class="text-muted font-13 mb-3 mt-2">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                            Etiam rhoncus...</p>
                        <a href="javascript: void(0);" class="btn btn-outline-primary">View Statements
                            <i class="mdi mdi-arrow-right ms-2"></i>
                        </a>
                    </div>
                    <div dir="ltr">
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

        <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h4 class="header-title">Top Selling Products</h4>
                        <a href="javascript:void(0);" class="btn btn-sm btn-link">Export <i class="mdi mdi-download ms-1"></i></a>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                                {% for tsp in top_selling_products %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{tsp.name}}</h5>
                                        <span class="text-muted font-13">{{tsp.last_purchase}}</span>
                                    </td>
                                    
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{tsp.price}}</h5>
                                        <span class="text-muted font-13">Price</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{tsp.total_orders}}</h5>
                                        <span class="text-muted font-13">Total Orders</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{tsp.total_profit}}</h5>
                                        <span class="text-muted font-13">Amount</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->


    </div>



    <div class="row">
    <h3>Restocks</h3>
    <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Expense</th>
            </tr>
        </thead>
        <tbody>
            {% for restock in restocks_list %}
            <tr>
                <td>{{ restock.restock_date }}</td>
                <td>{{ restock.product.name }}</td>
                <td>{{ restock.quantity }}</td>
                <td>€ {{ restock.purchase_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Customer's purchases</h3>
    <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Product</th>
                <th scope="col">Customer</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Expense</th>
                <th scope="col">Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases_list %}
            <tr>
                <td>{{ purchase.purchase_date }}</td>
                <td>{{ purchase.product.name }} ({{ purchase.quantity }})</td>
                <td>
                    <a href="{% url 'customer' purchase.customer.card_number %}">
                      <div style="height:100%;width:100%">
                        {{ purchase.customer.user.first_name }} {{ purchase.customer.user.last_name }}
                      </div>
                    </a>
                  </td>
                <td>€ {{ purchase.purchase_price }}</td>
                <td>€ {{ purchase.expenses }}</td>
                <td>€ {{ purchase.revenue }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>  
{% endblock %}

{% block scripts %}
    {{ block.super }} 
    <script src="{% static_assets 'js/pages/store.summary.js' %}"></script>
    <!-- 3rd party -->
    <script src="{% static_assets 'js/vendor/apexcharts.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const revenueData = {{ chart_financial_data.revenue|safe }};
            const costsData = {{ chart_financial_data.cost|safe }};
            const profitsData = {{ chart_financial_data.profit|safe }};
            const categories = {{ chart_financial_data.timestamps|safe }};


            console.log("Revenue Data:", revenueData);
            console.log("Costs Data:", costsData);
            console.log("Profits Data:", profitsData);
            console.log("Categories:", categories);

            window.chart_manager = new ChartManager({
                revenueData,
                costsData,
                profitsData,
                categories,
                chartElementId: 'financial-chart',
                colors: ['#4caf50', '#f44336', '#2196f3'],
            });
        });
    </script>
{% endblock %}
