Django>=5.0.0
# GPIOs
luma.oled
evdev
# For the LED Stripe
rpi_ws281x

# Django
django-bootstrap5   # Frontend
asyncio
channels
websockets
daphne      # ASGI server
httpx       # For making HTTP requests

# Postgress database
psycopg     
psycopg2

# For doenloading the static files
requests

# For the image processing
pillow
cairosvg

# for logging
rich

# for testing
pytest 
pytest-asyncio

# better errors
django-fastdev # django-fastdev is an app that makes it safer, faster and more fun to develop Django apps.

# for using the restful API
djangorestframework
markdown       
django-filter
djangorestframework-simplejwt

# others
pyyaml

